<h1>Sara Alert Send Assessments Job Results (<%= ActionMailer::Base.default_url_options[:host] %>)</h1>
<h2><%= DateTime.now.in_time_zone('Eastern Time (US & Canada)') %></h2>
<br />
Total eligible for notifications at runtime: <%= @eligible %>
<br />
Sent during this job run: <%= @sent.count %>
<br />
Not sent during this job run (due to exception): <%= @not_sent.count %>
<br />
<br />
<h2>Sent</h2>
<table style="border: 1px solid black; border-collapse: collapse;">
  <tr>
    <th style="border: 1px solid black; border-collapse: collapse;">ID</th>
    <th style="border: 1px solid black; border-collapse: collapse;">Method</th>
  </tr>
  <% @sent.each do |s| %>
    <tr>
      <td style="border: 1px solid black; border-collapse: collapse;"><%= s[:id] %></td>
      <td style="border: 1px solid black; border-collapse: collapse;"><%= s[:method] %></td>
    <tr>
  <% end %>
</table>
<br />
<br />
<h2>Not Sent</h2>
<table style="border: 1px solid black; border-collapse: collapse;">
  <tr>
    <th style="border: 1px solid black; border-collapse: collapse;">ID</th>
    <th style="border: 1px solid black; border-collapse: collapse;">Method</th>
    <th style="border: 1px solid black; border-collapse: collapse;">Reason</th>
  </tr>
  <% @not_sent.each do |s| %>
    <tr>
      <td style="border: 1px solid black; border-collapse: collapse;"><%= s[:id] %></td>
      <td style="border: 1px solid black; border-collapse: collapse;"><%= s[:method] %></td>
      <td style="border: 1px solid black; border-collapse: collapse;"><%= s[:reason] %></td>
    <tr>
  <% end %>
</table>
