<h1>Send Assessments Job Results (<%= ActionMailer::Base.default_url_options[:host] %>)</h1>
<h2><%= DateTime.now.in_time_zone('Eastern Time (US & Canada)') %></h2>
<br />
Total eligible for notifications at runtime: <%= @eligible %>
<br />
Sent during this job run: <%= @sent.count %>
<br />
Not sent during this job run (due to exception): <%= @not_sent.count %>
<br />
<br />
<h2>Sent</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Method</th>
  </tr>
  <% @sent.each do |s| %>
    <tr>
      <td><%= s[:id] %></td>
      <td><%= s[:method] %></td>
    <tr>
  <% end %>
</table>
<br />
<br />
<h2>Not Sent</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Method</th>
    <th>Reason</th>
  </tr>
  <% @not_sent.each do |s| %>
    <tr>
      <td><%= s[:id] %></td>
      <td><%= s[:method] %></td>
      <td><%= s[:reason] %></td>
    <tr>
  <% end %>
</table>
