<h1>
  Sara Alert Send Assessments Job Results (<%= ActionMailer::Base.default_url_options[:host] %>)
</h1>
<h2>
  <%= DateTime.now.in_time_zone('Eastern Time (US & Canada)') %>
</h2>
<br />
  Total eligible for notifications at runtime: <%= @eligible %>
<br />
Sent during this job run: <b><%= @sent[:count] %></b>
<br />
Not sent during this job run (due to exceptions): <b><%= @not_sent.count %></b>
<br />
<h2>
  Sent
</h2>
<br />
Method, Count
<br />
<% @sent.each do |method, count| %>
  <% next if method == :count %>
  <%= method %>, <%= count %>
  <br />
<% end %>
<br />
<h2>
  Not Sent
</h2>
<br />
ID, Method, Reason
<br />
<% @not_sent.each do |ns| %>
  <%= ns[:id] %>, <%= ns[:method] %>, <%= ns[:reason] %>
  <br />
<% end %>
