<h1>
  Sara Alert Purge Job Results (<%= ActionMailer::Base.default_url_options[:host] %>)
</h1>
<h2>
  Job Started: <%= @job_info[:start_time] %>
</h2>
<h2>
  Job Ended: <%= @job_info[:end_time] %>
</h2>
<hr />
Total eligible for purge at runtime: <%= @job_info[:eligible] %>
<br />
<p>Purged during this job run: <%= @job_info[:purged_count] %></p>
<p>Not purged during this job run: <b><%= @job_info[:not_purged_count] %></b></p>
<br />
Message: <%= @batch_info[:current]%> of <%= @batch_info[:total] %>
<hr />
<% unless @job_info[:purged_count].zero? %>
  <%= render partial: 'purge_job_email_success' %>
<% end %>
<br />
<% unless @job_info[:not_purged_count].zero? %>
  <%= render partial: 'purge_job_email_failure' %>
<% end %>
