<% content_for :assets do %>
  <%= javascript_pack_tag "authy" %>
<% end %>
<%= stylesheet_link_tag "devise_authy" %>
<div class="authy-menu col-24 d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col-md-15 col-lg-12 col-xl-10 mx-auto">
      <div class="pb-4">
        <%= render partial: 'devise/shared/logo' %>
      </div>
      <div class="card shadow shadow-sm card-square">
        <div class="card text-center">
        <div class="card-header">
          <h4 class="mb-0">Register For 2-Factor Authentication</h4>
        </div>
          <div class="card-body">
            <%= enable_authy_form do %>
              <div class="form-row">
                <div class="form-group col-md-10 mb-0">
                  <%= text_field_tag :country_code, '', autocomplete: :off, placeholder: I18n.t('devise.country'), id: "authy-countries", class: "form-control form-control-lg" %>
                </div>
                <div class="form-group col-md-10 mb-0">
                  <%= text_field_tag :cellphone, '', autocomplete: :off, placeholder: I18n.t('devise.cellphone'), id: "authy-cellphone", class: "form-control form-control-lg" %>
                </div>
                <div class="form-group col-md-4 mb-0">
                  <%= submit_tag I18n.t('enable_authy', {scope: 'devise'}), class: "btn-primary", value: "Register" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
