<% content_for :assets do %>
  <%= javascript_pack_tag "authy" %>
<% end %>
<%= stylesheet_link_tag "devise_authy" %>
    <div class="authy-menu col-24 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-md-15 col-lg-12 col-xl-10 mx-auto">
          <div class="pb-4">
            <%= render partial: 'devise/shared/logo' %>
          </div>
          <div class="card shadow shadow-sm card-square text-center">
            <div class="card-header">
              <h4 class="mb-0">2-Factor Authentication</h4>
            </div>
            <div class="card-body">
              <%= verify_authy_form do %>
                <div class="container">
                  <div class="row mb-3">
                    <h5>Step 1: Choose how to receive your secure token.</h5>
                  </div>
                  <div class="row mb-5">
                    <div class="col-12">
                      <%= authy_request_sms_link class: 'btn-primary btn btn-lg btn-block', id: 'authy-sms'  %>
                    </div>
                    <div class="col-12">
                      <%= authy_request_phone_call_link class: 'btn-primary btn btn-lg btn-block', id: 'authy-phone' %>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <h5>Step 2: Enter the token you receive.</h5>
                  </div>
                  <div class="row justify-content-center">
                    <div class="form-inline">
                      <%= text_field_tag :token, "", autocomplete: :off, id: 'authy-token', class: "form-control form-control-lg" %>
                      <%= submit_tag I18n.t('submit_token', {scope: 'devise'}), class: 'btn-primary btn btn-lg' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
    $("#authy-phone").on("click", function() {
      $("#authy-phone").addClass("disabled");
      $("#authy-sms").addClass("disabled");
    });
    $("#authy-sms").on("click", function() {
      $("#authy-phone").addClass("disabled");
      $("#authy-sms").addClass("disabled");
    });
  });
</script>
