<% histories.each do |history| -%>
  <div class="card mt-4 mx-3 card-square shadow-sm">
    <div class="card-header">
      <b><%= history.created_by %></b>, <%= time_ago_in_words(history.created_at) %> ago (<%= history.created_at %>)
      <span class="float-right">
        <h5 class="badge-padding">
          <span class="badge badge-secondary"><%= history.history_type %></span>
        </h5>
      </span>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= history.comment %>
      </p>
    </div>
  </div>
<% end -%>

<div class="card mb-4 mt-4 mx-3 card-square shadow-sm">
  <div class="card-header">
    Add Comment
  </div>
  <div class="card-body">
    <%= form_with(url: '/histories', method: 'post', local: true) do %>
      <input name="patient_id" type="hidden" value="<%= patient_id %>" aria-label="Patient Id" />
      <%= text_area_tag 'comment', nil, class: 'form-control', rows: 3, style: 'resize: none;', placeholder: 'enter comment here...', maxlength: 10_000 %>
      <button type="submit" class="mt-3 btn btn-primary btn-square float-right">
        <i class="fas fa-comment-dots"></i> Add Comment
      </button>
    <% end %>
  </div>
</div>
