<div class="row">
  <div class="col-sm-24 col-md-12">
    <label style="display:inline-flex;margin-bottom:0.25em">
      <span style="white-space:nowrap;line-height:1.9;margin-right:0.375em">Assigned Jurisdiction:</span>
      <select id="assigned_jurisdiction" class="custom-select custom-select-sm form-control form-control-sm"></select>
    </label>
    <label style="display:inline-flex;margin-bottom:0.25em">
      <select id="scope" class="custom-select custom-select-sm form-control form-control-sm">
        <option value="all">All</option>
        <option value="immediate">Immediate</option>
      </select>
    </label>
  </div>
  <div class="col-sm-24 col-md-12 text-right">
    <label style="display:inline-flex;margin-bottom:0.25em">
      <span style="white-space:nowrap;line-height:1.9;margin-right:0.375em">Assigned User:</span>
      <select id="assigned_user" class="custom-select custom-select-sm form-control form-control-sm">
        <option value="all">All</option>
        <option value="none">None</option>
      </select>
    </label>
  </div>
</div>
<table class="patients_table table table-sm table-striped table-bordered table-hover" style="width:100%">
  <thead>
    <tr>
      <th class="DataTable-table-header">Monitoree</th>
      <th class="DataTable-table-header">Assigned Jurisdiction</th>
      <th class="DataTable-table-header">Assigned User</th>
      <th class="DataTable-table-header">State&#47;Local ID</th>
      <th class="DataTable-table-header">Sex</th>
      <th class="DataTable-table-header">Date of Birth</th>
      <th class="DataTable-table-header">Enrollment Date</th>
      <th class="DataTable-table-header">Jurisdiction Path</th>
    </tr>
  </thead>
  <tbody class="table-striped">
    <% patients.each do |patient| -%>
      <tr>
        <td><%= link_to "#{patient.last_name}, #{patient.first_name}", patient, class: '' %></td>
        <td><%= patient.jurisdiction.name %></td>
        <td><%= patient.assigned_user %></td>
        <td><%= patient.user_defined_id_statelocal.blank? ? '' : patient.user_defined_id_statelocal %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.date_of_birth&.strftime('%F') %></td>
        <td><%= patient.created_at.to_date&.strftime('%F') %></td>
        <td><%= patient.jurisdiction[:path] %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<script>
  $(document).ready(function() {
    const table = $('.patients_table').DataTable({
      "info": false,
      "lengthMenu": [10, 15, 25, 50, 100],
      "pageLength": 15,
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'i><'col-sm-24 col-md-14'p>>",
      "columnDefs": [
        {
          "targets": [7],
          "visible": false,
          "searchable": true
        }
      ]
    });

    updateAssignedJurisdictionOptions();
    updateAssignedUserOptions();

    let assigned_jurisdiction = $('#assigned_jurisdiction').val();
    let scope = $('#scope').val();

    $(document).on('change', 'select#assigned_jurisdiction', event => {
      assigned_jurisdiction = event.target.value;
      searchByAssignedJurisdiction();
      updateAssignedUserOptions();
    });

    $(document).on('change', 'select#scope', event => {
      scope = event.target.value;
      searchByAssignedJurisdiction();
      updateAssignedUserOptions();
    });

    $(document).on('change', 'select#assigned_user', event => {
      if (event.target.value == 'all') {
        table.column(2).search('').draw();
      } else if (event.target.value == 'none') {
        table.column(2).search('^$', true, false).draw();
      } else {
        table.column(2).search(event.target.value).draw();
      }
    });

    function searchByAssignedJurisdiction() {
      if (scope === 'all') {
        table.column(7).search(assigned_jurisdiction).draw();
      } else {
        table.column(7).search(`^${assigned_jurisdiction}$`, true, false).draw();
      }
    }

    function updateAssignedJurisdictionOptions() {
      const options = $('#assigned_jurisdiction');
      options.empty();
      $.each(table.rows({search: 'applied'})
                  .column(7)
                  .data()
                  .unique()
                  .sort(), (_, assignedJurisdiction) => {
                    options.append($('<option></option>').attr('value', assignedJurisdiction).text(assignedJurisdiction));
                  });
    }

    function updateAssignedUserOptions() {
      const options = $('#assigned_user');
      options.empty();
      options.append($('<option></option>').attr('value', 'all').text('All'));
      options.append($('<option></option>').attr('value', 'none').text('None'));
      $.each(table.rows({search: 'applied'})
                  .column(2)
                  .data()
                  .unique()
                  .filter(value => { return value !== '' })
                  .map(x => parseInt(x)).sort((a, b) => { return a - b }), (_, assignedUser) => {
                    options.append($('<option></option>').attr('value', assignedUser).text(assignedUser));
                  });
    }
  });
</script>
