<table class="patients_table table table-sm table-striped table-bordered table-hover" style="width:100%">
  <thead>
    <tr>
      <th class="DataTable-table-header">Monitoree</th>
      <th class="DataTable-table-header">Jurisdiction</th>
      <th class="DataTable-table-header">Group</th>
      <th class="DataTable-table-header">State&#47;Local ID</th>
      <th class="DataTable-table-header">Sex</th>
      <th class="DataTable-table-header">Date of Birth</th>
      <th class="DataTable-table-header">Enrollment Date</th>
    </tr>
  </thead>
  <tbody class="table-striped">
    <% patients.each do |patient| -%>
      <tr>
        <td><%= link_to "#{patient.last_name}, #{patient.first_name}", patient, class: '' %></td>
        <td><%= patient.jurisdiction.name %></td>
        <td><%= patient.group_number %></td>
        <td><%= patient.user_defined_id_statelocal.blank? ? '' : patient.user_defined_id_statelocal %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.date_of_birth&.strftime('%F') %></td>
        <td><%= patient.created_at.to_date&.strftime('%F') %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<script>
  $(document).ready(function() {
    $('.patients_table').DataTable({
      "info": false,
      "lengthMenu": [10, 15, 25, 50, 100],
      "pageLength": 15,
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'i><'col-sm-24 col-md-14'p>>"
    });
  });
</script>
