<h1>Patient details:</h1>

<%= t('helpers.label.patient.first_name') %>: <b><%= @patient.first_name %></b><br />
<%= t('helpers.label.patient.last_name') %>: <b><%= @patient.last_name %></b><br />
<%= t('helpers.label.patient.residence_line_1') %>: <b><%= @patient.residence_line_1 %></b><br />
<%= t('helpers.label.patient.residence_line_2') %>: <b><%= @patient.residence_line_2 %></b><br />
<%= t('helpers.label.patient.residence_city') %>: <b><%= @patient.residence_city %></b><br />
<%= t('helpers.label.patient.residence_county') %>: <b><%= @patient.residence_county %></b><br />
<%= t('helpers.label.patient.residence_state') %>: <b><%= @patient.residence_state %></b><br />
<%= t('helpers.label.patient.email') %>: <b><%= @patient.email %></b><br />
<%= t('helpers.label.patient.phone') %>: <b><%= @patient.phone %></b><br />
