<%= render partial: "layouts/breadcrumb", locals: { jurisdiction_path: current_user.jurisdiction_path, crumbs: [ {value: "Return To Dashboard", href: '/'}, {value: "Monitoree Details", href: nil} ] } %>

<%= react_component("PatientPage", { current_user: current_user, patient: @patient, group_members: @group_members, patient_id: @patient.user_defined_id_statelocal || '', dashboardUrl: '/public_health', authenticity_token: form_authenticity_token }) %>

<% if current_user.can_modify_subject_status? %>
  <div class="card mx-2 mt-4 mb-4 card-square">
    <h5 class="card-header">Monitoring Actions</h5>
    <%= react_component("subject/MonitoringStatus", { current_user: current_user, authenticity_token: form_authenticity_token, jurisdiction_id: @patient.jurisdiction_id, patient: @patient, jurisdiction_paths: Jurisdiction.all.collect{ |jur| { value: jur.id, label: jur.jurisdiction_path_string } } } ) %>
  </div>
<% end %>

<% if current_user.can_view_patient_assessments? %>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-new">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%reporting_condition = @patient.jurisdiction.hierarchical_condition_unpopulated_symptoms%>
          <%= react_component("assessment/Assessment", { current_user: current_user, assessment: {}, threshold_hash: reporting_condition.threshold_condition_hash, symptoms: reporting_condition.symptoms, idPre: 'new', patient_submission_token: @patient.submission_token, authenticity_token: form_authenticity_token, reload: true, patient_id: @patient.id }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="card mx-2 mt-3 mb-4 card-square">
    <h5 class="card-header"> Reports <a href="#" data-toggle="modal" data-target="#modal-new">(add new)</a></h5>
    <div class="m-4">
      <% columns= [] %>
      <% @patient.assessments.each do |assessment| columns.concat(assessment.all_symptom_names) end %>
      <% columns = columns.uniq%>
      <table class="assessment_table table table-sm table-striped table-bordered table-hover table-smaller-font" style="width:100%">
        <thead>
          <tr>
            <th class="DataTable-table-header">ID</th>
            <th class="DataTable-table-header">Needs Review</th>
            <th class="DataTable-table-header">Reporter</th>
            <th class="DataTable-table-header">Date and Time</th>
            <% columns.each do |column| -%>
              <th class="DataTable-table-header"><%= column.titleize %></th>
            <% end -%>
            <th class="DataTable-table-header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @patient.assessments.order('created_at').each do |assessment| -%>
            <tr class="<% if assessment.symptomatic %>table-danger<% end %>">
              <td><%= assessment.id %></th>
              <td><% if assessment.symptomatic %>Yes<% else %>No<% end %></td>
              <td><%= assessment.who_reported %></td>
              <td><%= assessment.created_at %></td>
              <% columns.each do |column| -%>
                <% if assessment.get_reported_symptom_by_name(column) == nil %>
                <td></td>
                <% end %>
                <% if assessment.get_reported_symptom_by_name(column)&.type == "BoolSymptom"%>
                  <td><%passes_threshold = assessment.symptom_passes_threshold(column)%> <% if passes_threshold -%><span class="concern">Yes</span><% elsif passes_threshold==false -%>No <%else -%><% end -%></td>
                <% end %>
                <% if assessment.get_reported_symptom_by_name(column)&.type == "FloatSymptom" || assessment.get_reported_symptom_by_name(column)&.type == "IntegerSymptom"%>
                  <td><%passes_threshold = assessment.symptom_passes_threshold(column)%> <% if passes_threshold -%><span class="concern"><%=assessment.get_reported_symptom_value(column)%></span><% elsif passes_threshold==false -%><%=assessment.get_reported_symptom_value(column)%><%else -%><% end -%></td>
                <% end %>
              <% end -%>
              <td>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" data-toggle="modal" data-target="#modal-<%= assessment.id %>" class="btn btn-link py-0"><i class="fas fa-edit"></i> Edit</button>
                  <%= react_component("subject/AddReportNote", { assessment: assessment, patient: @patient, authenticity_token: form_authenticity_token }) %>
                </div>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
      <div class="pb-4">
        <%= react_component("subject/ClearReports", { current_user: current_user, authenticity_token: form_authenticity_token, patient: @patient } ) %>
      </div>
    </div>
  </div>
  <% @patient.assessments.order('created_at').each do |assessment| -%>
    <div class="modal fade" tabindex="-1" role="dialog" id="<%= 'modal-' + assessment.id.to_s %>" key="<%= 'modal-' + assessment.id.to_s %>">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= react_component("assessment/Assessment", { current_user: current_user, assessment: assessment, threshold_hash: assessment&.reported_condition&.threshold_condition_hash, symptoms: assessment&.reported_condition&.symptoms, idPre: assessment.id.to_s, updateId: assessment.id, patient_submission_token: @patient.submission_token, authenticity_token: form_authenticity_token, reload: true, patient_id: @patient.id }) %>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
<% end %>

<% if current_user.can_modify_subject_status? %>
  <div class="card mx-2 mt-3 mb-4 card-square">
    <h5 class="card-header">History</h5>
    <%= render partial: "histories", locals: { patient_id: @patient.id, histories: @patient.histories.order('created_at DESC') } %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('.assessment_table').DataTable({
      "search": false,
      "info": false,
      "columnDefs": [
        { "orderable": false, "targets": -1 }
      ],
      "order": [[ 3, "desc" ]],
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'i><'col-sm-24 col-md-14'p>>"
    });
  });
</script>
