<% content_for :assets do %>
  <%= javascript_packs_with_chunks_tag 'datatables', 'moment' %>
<% end %>

<%= render partial: 'layouts/breadcrumb',
           locals: {
             jurisdiction_path: current_user.jurisdiction_path,
             crumbs: [{ value: dashboard_crumb_title(@dashboard, @playbook), href: @dashboard_path },
                      { value: 'Monitoree Details', href: nil }]
           } %>

<% if current_user.can_download_monitoree_data? %>
<%= react_component('patient/export/DownloadMonitoree', { authenticity_token: form_authenticity_token, patient: @patient }) %>
<% end %>

<%= react_component('patient/PatientPage', {
                      current_user: current_user,
                      can_add_group: current_user.can_create_patient?,
                      can_modify_subject_status: current_user.can_modify_subject_status?,
                      patient: @patient,
                      other_household_members: @household_members_exclude_self,
                      authenticity_token: form_authenticity_token,
                      jurisdiction_paths: @possible_jurisdiction_paths,
                      blocked_sms: @patient.blocked_sms,
                      workflow: @dashboard,
                      continuous_exposure_enabled: @continuous_exposure_enabled
                      }) %>

<% if current_user.can_modify_subject_status? %>
<% if @patient_page_sections[:options][:monitoring_actions].present? %>
<div id="monitoring-actions" class="card mx-2 my-4 card-square">
  <h1 class="card-header patient-card-header"> <%= @patient_page_sections[:options][:monitoring_actions][:label] || 'Monitoring Actions'%> </h1>
  <%= react_component('patient/monitoring_actions/MonitoringActions', {
                        current_user: current_user,
                        user_can_transfer: current_user.can_transfer_patients?,
                        authenticity_token: form_authenticity_token,
                        household_members: @household_members_exclude_self,
                        patient: @patient,
                        jurisdiction_paths: @possible_jurisdiction_paths,
                        assigned_users: @possible_assigned_users,
                        monitoring_reasons: ValidationHelper::USER_SELECTABLE_MONITORING_REASONS,
                        workflow: @dashboard,
                        continuous_exposure_enabled: @continuous_exposure_enabled,
                        available_workflows: @available_workflows
                      }) %>
</div>
<% end %>
<% end %>

<% if current_user.can_view_patient_assessments? %>
<% if @patient_page_sections[:options][:assessment_table].present? %>
  <% reporting_condition = @jurisdiction.hierarchical_condition_unpopulated_symptoms %>
  <%= react_component('patient/assessment/AssessmentTable', {
                        patient: @patient,
                        household_members: @household_members_exclude_self,
                        report_eligibility: @patient.report_eligibility,
                        patient_status: @patient.status,
                        calculated_age: @patient.calc_current_age,
                        patient_initials: @patient.initials,
                        symptoms: reporting_condition.symptoms,
                        threshold_condition_hash: reporting_condition.threshold_condition_hash,
                        monitoring_period_days: ADMIN_OPTIONS['monitoring_period_days'].to_i,
                        current_user: current_user,
                        translations: Assessment.new.translations,
                        authenticity_token: form_authenticity_token,
                        jurisdiction_paths: @possible_jurisdiction_paths,
                        workflow: @dashboard,
                        num_pos_labs: @num_pos_labs,
                        calculated_symptom_onset: @calculated_symptom_onset,
                        continuous_exposure_enabled: @continuous_exposure_enabled,
                        section_label: @patient_page_sections[:options][:assessment_table][:label]
                      }) %>
<% end %>
<% end %>

<% if current_user.can_view_patient_laboratories? %>
<% if @patient_page_sections[:options][:lab_results].present? %>
<div id="labs-table" class="card mx-2 my-4 card-square">
  <h1 class="card-header patient-card-header">
    <%= @patient_page_sections[:options][:lab_results][:label] || 'Lab Results'%>
    <%= react_component('util/InfoTooltip', { tooltipTextKey: 'labResults', location: 'right' }, { style: 'display:inline' }) %>
  </h1>
  <div class="m-4">
    <div class="pb-1 mb-3">
      <div class="btn-group" role="group">
        <%= react_component('patient/laboratory/Laboratory', { authenticity_token: form_authenticity_token, patient: @patient, lab: Laboratory.new }) %>
      </div>
    </div>
    <table class="lab_table table table-sm table-striped table-bordered table-hover table-smaller-font" style="width:100%">
      <thead>
        <tr>
          <th class="DataTable-table-header">Actions</th>
          <th class="DataTable-table-header">ID</th>
          <th class="DataTable-table-header">Type</th>
          <th class="DataTable-table-header">Specimen Collected</th>
          <th class="DataTable-table-header">Report</th>
          <th class="DataTable-table-header">Result</th>
        </tr>
      </thead>
      <tbody>
        <% @laboratories.each do |lab| -%>
        <tr>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <%= react_component('patient/laboratory/Laboratory', {
                                    authenticity_token: form_authenticity_token,
                                    patient: @patient,
                                    lab: lab,
                                    only_positive_lab: @patient[:symptom_onset].nil? && lab[:result] == 'positive' && lab[:specimen_collection].present? && @num_pos_labs == 1
                                  }) %>
            </div>
          </td>
          <td><%= lab.id %></td>
          <td><%= lab.lab_type %></td>
          <td><%= lab.specimen_collection&.strftime('%m/%d/%Y') %></td>
          <td><%= lab.report&.strftime('%m/%d/%Y') %></td>
          <td><%= lab.result %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<% end %>

<% if current_user.can_view_patient_vaccines? %>
<% if @patient_page_sections[:options][:vaccines].present? %>
  <%= react_component('patient/vaccines/VaccineTable', {
                        patient: @patient,
                        current_user: current_user,
                        authenticity_token: form_authenticity_token,
                        vaccine_mapping: Vaccine::VACCINE_STANDARDS,
                        group_name_options: Vaccine.group_name_options,
                        additional_product_name_options: Vaccine::ADDITIONAL_PRODUCT_NAME_OPTIONS.map { |option| option['product_name'] },
                        dose_number_options: Vaccine::DOSE_OPTIONS.filter { |option| !option.nil? },
                        section_label: @patient_page_sections[:options][:vaccines][:label]
                      }) %>
<% end %>
<% end %>

<% if current_user.can_view_patient_close_contacts? %>
<% if @patient_page_sections[:options][:close_contacts].present? %>
  <%= react_component('patient/close_contacts/CloseContactTable', {
                        patient: @patient,
                        can_enroll_close_contacts: current_user.can_enroll_patient_close_contacts?,
                        authenticity_token: form_authenticity_token,
                        assigned_users: @possible_assigned_users,
                        workflow: @dashboard
                      })%>
<% end %>
<% end %>

<% if current_user.can_modify_subject_status? %>
<% if @patient_page_sections[:options][:history].present? %>
<%= react_component('patient/history/HistoryList', {
                      histories: @histories,
                      history_types: @history_types,
                      patient_id: @patient.id,
                      current_user: current_user,
                      authenticity_token: form_authenticity_token,
                      section_label: @patient_page_sections[:options][:history][:label]
                    }) %>
<% end %>
<% end %>

<script>
  $(document).ready(function() {
    $('.lab_table').DataTable({
      "search": false,
      "info": false,
      "lengthMenu": [10, 15, 25, 50],
      "pageLength": 15,
      "oLanguage": {
        "sSearch": "Search Lab Results:"
      },
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'i><'col-sm-24 col-md-14'p>>"
    });
  });
</script>
