<div class="px-4">
  <table class="patients_table table table-sm table-striped table-bordered table-hover" style="width:100%">
    <thead>
      <tr>
        <th class="DataTable-table-header">Monitoree</th>
        <th class="DataTable-table-header">Assigned Jurisdiction</th>
        <th class="DataTable-table-header">State&#47;Local ID</th>
        <th class="DataTable-table-header">Sex</th>
        <th class="DataTable-table-header">Date of Birth</th>
        <th class="DataTable-table-header">End of Monitoring</th>
        <th class="DataTable-table-header">Risk Level</th>
        <th class="DataTable-table-header">Monitoring Plan</th>
        <th class="DataTable-table-header">Latest Report</th>
      </tr>
    </thead>
    <tbody>
      <% patients.each do |patient| -%>
        <tr>
          <td><%= link_to "#{patient.last_name}, #{patient.first_name}", patient, class: '' %></td>
          <td><%= patient.jurisdiction.name %></td>
          <td><%= patient.user_defined_id_statelocal.blank? ? '' : patient.user_defined_id_statelocal %></td>
          <td><%= patient.sex %></td>
          <td><%= patient.date_of_birth&.strftime('%F') %></td>
          <td><%= patient.end_of_monitoring.to_date&.strftime('%F') %></td>
          <td><%= patient.exposure_risk_assessment %></td>
          <td><% if patient.monitoring_plan&.include? 'Self-monitoring' %>Self<% elsif patient.monitoring_plan&.include? 'Daily' %>Daily<% end %></td>
          <td><%= patient.latest_assessment&.created_at&.to_date&.strftime('%F') %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
