<div class="px-4">
  <table class="patients_table table table-sm table-striped table-bordered table-hover" style="width:100%">
    <thead>
      <tr>
        <th class="DataTable-table-header">Subject</th>
        <th class="DataTable-table-header">Jurisdiction</th>
        <th class="DataTable-table-header">ID</th>
        <th class="DataTable-table-header">Sex</th>
        <th class="DataTable-table-header">Date of Birth</th>
        <th class="DataTable-table-header">Enrollment Date</th>
        <th class="DataTable-table-header">Risk Level</th>
        <th class="DataTable-table-header">Monitoring Plan</th>
        <th class="DataTable-table-header">Latest Assessment</th>
      </tr>
    </thead>
    <tbody>
      <% patients.each do |patient| -%>
        <tr>
          <td><%= link_to "#{patient.first_name} #{patient.last_name}", patient, class: '' %></td>
          <td><%= patient.jurisdiction.name %></td>
          <%# TODO: This is a temporary ID concept, to be formalized based on requirements %>
          <td><%= "#{patient.address_state&.first(2)&.upcase || 'XX'}#{patient.id.to_s.rjust(6, '0')}" %></td>
          <td><%= patient.sex %></td>
          <td><%= patient.date_of_birth&.strftime('%F') %></td>
          <td><%= patient.created_at.to_date&.strftime('%F') %></td>
          <td><%= patient.exposure_risk_assessment %></td>
          <td><% if patient.monitoring_plan&.include? 'Self-monitoring' %>Self<% elsif patient.monitoring_plan&.include? 'Daily' %>Daily<% end %></td>
          <td><%= patient.latest_assessment&.created_at&.to_date&.strftime('%F') %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
