<%= render partial: "layouts/breadcrumb", locals: { jurisdiction_path: current_user.jurisdiction_path, crumbs: [ {value: "Dashboard", href: nil} ] } %>

<div class="mx-2 pb-4">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="symptomatic-tab" data-toggle="tab" href="#symptomatic">
        Symptomatic <span class="badge badge-danger badge-larger-font"><%= @symptomatic_patients.count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="non-reporting-tab" data-toggle="tab" href="#non-reporting">
        Non-Reporting <span class="badge badge-warning badge-larger-font"><%= @non_reporting_patients.count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  id="asymptomatic-tab" data-toggle="tab" href="#asymptomatic">
        Asymptomatic <span class="badge badge-success badge-larger-font"><%= @asymptomatic_patients.count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  id="analytics-tab" data-toggle="tab" href="#analytics">
        Analytics
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="card card-square tab-pane fade show active pb-4" id="symptomatic" role="tabpanel" aria-labelledby="symptomatic-tab">
      <h3 class="px-4 pt-4">Subjects Who Have Reported Symptoms</h3>
      <%= render partial: "patients", locals: { patients: @symptomatic_patients } %>
    </div>
    <div class="card card-square tab-pane fade pb-4" id="non-reporting" role="tabpanel" aria-labelledby="non-reporting-tab">
      <%# TODO: Make the reporting timeout configurable %>
      <h3 class="px-4 pt-4">Subjects Who Have Not Reported in Last 1 Minute</h3>
      <%= render partial: "patients", locals: { patients: @non_reporting_patients } %>
    </div>
    <div class="card card-square tab-pane fade pb-4" id="asymptomatic" role="tabpanel" aria-labelledby="asymptomatic-tab">
      <h3 class="px-4 pt-4">Subjects Reporting No Symptoms</h3>
      <%= render partial: "patients", locals: { patients: @asymptomatic_patients } %>
    </div>
    <div class="card card-square tab-pane fade pt-3 px-2" id="analytics" role="tabpanel" aria-labelledby="analytics-tab">
      <%= react_component("dashboard/MonitorAnalytics", { stats: @stats }) %>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('.patients_table').DataTable({
      "info": false,
      "columnDefs": [
        { "orderable": false, "targets": -1 }
      ],
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'i><'col-sm-24 col-md-14'p>>"
    });
  });
</script>
