<% content_for :preheader do %>
  <%= t('assessments.email.reminder.header', locale: @lang || :eng) %>
<% end %>

<% content_for :body do %>
  <% @patients.each do |patient| %>
    <p><%= t('assessments.email.reminder.dear', locale: @lang || :eng) %> <%= patient[:patient]&.initials_age('-') %>,</p>

    <p><%= t('assessments.email.reminder.thank-you', locale: @lang || :eng) %></p>

    <%= render partial: 'main_mailer/responsive_button', locals: {
          patient: patient,
          link: new_patient_assessment_jurisdiction_lang_initials_url(patient[:patient].submission_token,
                                                                      patient[:jurisdiction_unique_id],
                                                                      @lang&.to_s || 'en',
                                                                      patient[:patient]&.initials_age),
          text: t('assessments.email.reminder.report', locale: @lang || :eng)
        } %><br />
  <% end %>
<% end %>

<% content_for :footer do %>
  <p>
    <%= t('assessments.email.reminder.footer', locale: @lang || :eng) %>
  </p>
<% end %>
