<% content_for :preheader do %>
  <%= t('assessments.html.email.closed.header', locale: @lang) %>
<% end %>

<% content_for :body do %>
  <div dir="<%= t('assessments.dir', locale: @lang) %>">
    <p><%= @contents %></p>
  </div>
<% end %>

<% content_for :footer do %>
  <div dir="<%= t('assessments.dir', locale: @lang) %>">
    <p>
      <%= t('assessments.html.email.shared.footer', locale: @lang) %>
      <% if ADMIN_OPTIONS['privacy_policy_url'].present? %>
        <%= t('assessments.shared.privacy_info', locale: @lang, privacy_policy_url: ADMIN_OPTIONS['privacy_policy_url']) %>
      <% end %>
    </p>
  </div>
<% end %>
