<% content_for :preheader do %>
  <%= t('assessments.email.closed.header', locale: @lang || :en) %>
<% end %>

<% content_for :body do %>
  <p><%= t('assessments.email.closed.dear', locale: @lang || :en) %> <%= "#{@patient&.initials}-#{@patient&.calc_current_age || '0'}" %>,</p>

  <p><%= t('assessments.email.closed.thank-you', locale: @lang || :en) %></p>
<% end %>

<% content_for :footer do %>
  <p>
    <%= t('assessments.email.closed.footer', locale: @lang || :en) %>
  </p>
<% end %>
