<% content_for :preheader do %>
  <%= t('assessments.html.email.closed.header', locale: @lang) %>
<% end %>

<% content_for :body do %>
  <div dir="<%= t('assessments.dir', locale: @lang) %>">
    <p><%= @contents %></p>
  </div>
<% end %>

<% content_for :footer do %>
  <div dir="<%= t('assessments.dir', locale: @lang) %>">
    <p>
      <%= t('assessments.html.email.shared.footer', locale: @lang) %>
    </p>
  </div>
<% end %>
