<% content_for :preheader do %>
  <%= t('assessments.email.enrollment.header', locale: @lang || :en) %>
<% end %>

<% content_for :body do %>
  <% @patients.each do |patient| %>
    <p><%= t('assessments.email.enrollment.dear', locale: @lang || :en) %> <%= "#{patient[:patient]&.first_name&.first || ''}#{patient[:patient]&.last_name&.first || ''}-#{patient[:patient]&.calc_current_age || '0'}" %>,</p>

    <p><%= t('assessments.email.enrollment.info1', locale: @lang || :en) %></p>
    <p><%= t('assessments.email.enrollment.info2', locale: @lang || :en) %></p>

    <%= render partial: 'main_mailer/responsive_button', locals: { patient: patient, link: new_patient_assessment_jurisdiction_report_lang_url(patient[:patient].submission_token, @lang&.to_s || 'en', patient[:jurisdiction_unique_id]), text: t('assessments.email.enrollment.report', locale: @lang || :en) } %><br />
  <% end %>
<% end %>

<% content_for :footer do %>
  <p>
    <%= t('assessments.email.enrollment.footer', locale: @lang || :en) %>
  </p>
<% end %>
