<div class="px-4">

  <%# Modals %>
  <%= react_component("bulk_edit/CaseStatus", { authenticity_token: form_authenticity_token}) %>

  <% unless type == 'transferred_out_patients' %>
    <div class="row">
      <div class="col-sm-24 col-md-16 col-lg-18">
        <label style="display:inline-flex;margin-bottom:0.25em">
          <span style="white-space:nowrap;line-height:1.9;margin-right:0.375em">Show Jurisdiction:</span>
          <select id="assigned_jurisdiction_<%= type %>" class="custom-select custom-select-sm form-control form-control-sm">
            <%= options_from_collection_for_select(@assigned_jurisdictions, :first, :last) %>
          </select>
        </label>
        <label style="display:inline-flex;margin-bottom:0.25em">
          <select id="scope_<%= type %>" class="custom-select custom-select-sm form-control form-control-sm">
            <option value="all">All</option>
            <option value="immediate">Exact Match</option>
          </select>
        </label>
      </div>
      <div class="col-sm-24 col-md-8 col-lg-6 text-right">
        <label style="display:inline-flex;margin-bottom:0.25em">
          <span style="white-space:nowrap;line-height:1.9;margin-right:0.375em">Assigned User:</span>
          <select id="assigned_user_<%= type %>" class="custom-select custom-select-sm form-control form-control-sm">
            <option value="all">All</option>
            <option value="none">None</option>
            <%= options_for_select(@assigned_users) %>
          </select>
        </label>
      </div>
    </div>
  <% end %>

  <table id="patients_table_<%= type %>" class="table table-sm table-striped table-bordered table-hover" style="width:100%">
    <thead>
      <tr>
        <% if isolation %>
          <th class="DataTable-table-header"></th>
          <th class="DataTable-table-header">Monitoree</th>
          <th class="DataTable-table-header"><% if type == 'transferred_in_patients' %>From Jurisdiction<% elsif type == 'transferred_out_patients' %>To Jurisdiction<% else %>Jurisdiction<% end %></th>
          <% if type != 'transferred_in_patients' && type != 'transferred_out_patients' %><th class="DataTable-table-header">Assigned User</th> <% end %>
          <th class="DataTable-table-header">State&#47;Local ID</th>
          <th class="DataTable-table-header">Sex</th>
          <th class="DataTable-table-header">Date of Birth</th>
          <% if type == 'closed_patients' %>
            <th class="DataTable-table-header">
              Eligible For Purge After
              <%= react_component("util/InfoTooltip", { tooltipTextKey: 'purgeDate', location: 'right' }, { style: 'display:inline' }) %>
            </th>
          <% end %>
          <th class="DataTable-table-header"><% if type == 'closed_patients' %>Reason for Closure<% elsif type == 'pui_patients' %>Latest Public Health Action<% else %>Monitoring Plan<% end %></th>
          <th class="DataTable-table-header"><% if type.include? 'transferred' %>Transferred At<% elsif type == 'closed_patients' %>Closed At<% else %>Latest Report<% end %></th>
          <% if type == 'all_patients' %><th class="DataTable-table-header">Status</th><% end %>
        <% else %>
          <th class="DataTable-table-header"></th>
          <th class="DataTable-table-header">Monitoree</th>
          <th class="DataTable-table-header"><% if type == 'transferred_in_patients' %>From Jurisdiction<% elsif type == 'transferred_out_patients' %>To Jurisdiction<% else %>Jurisdiction<% end %></th>
          <% if type != 'transferred_in_patients' && type != 'transferred_out_patients' %><th class="DataTable-table-header">Assigned User</th> <% end %>
          <th class="DataTable-table-header">State&#47;Local ID</th>
          <th class="DataTable-table-header">Sex</th>
          <th class="DataTable-table-header">Date of Birth</th>
          <th class="DataTable-table-header"><% if type == 'closed_patients' %>Eligible For Purge After<%= react_component("util/InfoTooltip", { tooltipTextKey: 'purgeDate', location: 'right' }, { style: 'display:inline' }) %><% else %>End of Monitoring<% end %></th>
          <% unless type == 'closed_patients' %><th class="DataTable-table-header">Risk Level</th><% end %>
          <th class="DataTable-table-header"><% if type == 'closed_patients' %>Reason for Closure<% elsif type == 'pui_patients' %>Latest Public Health Action<% else %>Monitoring Plan<% end %></th>
          <th class="DataTable-table-header"><% if type.include? 'transferred' %>Transferred At<% elsif type == 'closed_patients' %>Closed At<% else %>Latest Report<% end %></th>
          <% if type == 'all_patients' %><th class="DataTable-table-header">Status</th><% end %>
        <% end %>
      </tr>
    </thead>
  </table>
</div>
<script>
  $(document).ready(function() {
    var caseStatusModal = document.getElementById("caseStatusModal");

    <% if type == 'transferred_out_patients' %>
      const route = '/public_health/patients/<% if isolation %>isolation<% else %>exposure<% end %>/<%= type %>/all/all/all';
    <% else %>
      let assigned_jurisdiction = $('#assigned_jurisdiction_<%= type %>').val();
      let scope = $('#scope_<%= type %>').val();
      let assigned_user = $('#assigned_user_<%= type %>').val();
      const route = '/public_health/patients/<% if isolation %>isolation<% else %>exposure<% end %>/<%= type %>/' + assigned_jurisdiction + '/' + scope + '/' + assigned_user; // IE 11 does not support template strings
    <% end %>

    $.fn.dataTable.ext.errMode = 'throw';
    const table = $('#patients_table_<%= type %>').DataTable({
      "drawCallback": function(settings) {
        $('.datetime-convert').each(function() {
          if (moment.tz($(this).text(), 'UTC').isValid()) {
            $(this).text(moment.tz($(this).text(), 'UTC').tz(moment.tz.guess()).format('YYYY-MM-DD HH:mm z'));
          }
        });
      },
      buttons: [
        {
          extend: 'collection',
          text: 'Actions',
          autoClose: true,
          className: 'dt-button',
          enabled: false,
          buttons: [
            <% unless type == 'transferred_out_patients' %>
            {
              text: 'Update Case Status',
              action: function ( e, dt, node, config ) {
                let selectedPatients = table.rows({ selected: true }).data().toArray();
                window.bulkEditCaseStatusComponent.activate(selectedPatients);
              }
            },
            <% end %>
          ]
      }
      ],
      select: {
        style:    'multi+shift',
        selector: 'td:first-child',
        info: true
      },
      info: true,
      order: [[ 1, 'asc' ]],
      selectAll: "Select all items",
      selectNone: "Select none",
      "serverSide": true,
      "deferLoading": 0, // Conditionally load tables (when tab is pressed)
      "ajax": route,
      "lengthMenu": [10, 15, 25, 50, 100],
      "pageLength": 15,
      'processing': true,
      "language": { processing: '<i class="fas fa-cog fa-spin fa-2x"></i>'},
      rowId: function(a) {
        return a.id;
      },
      "columns": [
        {
          targets: 0,
          data: null,
          defaultContent: '',
          orderable: false,
          className: 'select-checkbox'
        },
        <% if isolation %>
          {
            "data": "linelist.name",
            "name": "name",
            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
              if (<%= p_links %>) {
                $(nTd).html("<a href='/patients/"+filterXSS(oData.linelist.name.id)+"'>"+filterXSS(oData.linelist.name.name)+"</a>");
              } else {
                $(nTd).text(filterXSS(oData.linelist.name.name));
              }
            }
          },
          <% if type == 'transferred_in_patients' %>{ "data": "linelist.transferred_from", "orderable": false, render: $.fn.dataTable.render.text() },<% elsif type == 'transferred_out_patients' %>{ "data": "linelist.transferred_to", "orderable": false, render: $.fn.dataTable.render.text() },<% else %>{ "data": "linelist.jurisdiction", "name": "jurisdiction", render: $.fn.dataTable.render.text() },<% end %>
          <% if type != 'transferred_in_patients' && type != 'transferred_out_patients' %>{ "data": "linelist.assigned_user", "name": "assigned_user", render: $.fn.dataTable.render.text() },<% end %>
          { "data": "linelist.state_local_id", "name": "state_local_id", render: $.fn.dataTable.render.text() },
          { "data": "linelist.sex", "name": "sex", render: $.fn.dataTable.render.text() },
          { "data": "linelist.dob", "name": "dob", render: $.fn.dataTable.render.text() },
          <% if type == 'closed_patients' %>
            { "data": "linelist.expected_purge_date", "name": "expected_purge_date", render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" },
          <% end %>
          <% if type == 'closed_patients' %>
            { "data": "linelist.reason_for_closure", "name": "monitoring_reason", render: $.fn.dataTable.render.text() },
          <% elsif type == 'pui_patients' %>
            { "data": "linelist.public_health_action", "name": "public_health_action", render: $.fn.dataTable.render.text() },
          <% else %>
            { "data": "linelist.monitoring_plan", "name": "monitoring_plan", render: $.fn.dataTable.render.text() },
          <% end %>
          <% if type.include? 'transferred' %>{ "data": "linelist.transferred", "orderable": false, render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" }<% elsif type == 'closed_patients' %>{ "data": "linelist.closed_at", "name": "closed_at", render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" }<% else %>{ "data": "linelist.latest_report", "name": "latest_report", render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" }<% end %>
          <% if type == 'all_patients' %>,{ "data": "linelist.status", "orderable": false, render: $.fn.dataTable.render.text() }<% end %>
        <% else %>
          {
            "data": "linelist.name",
            "name": "name",
            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
              if (<%= p_links %>) {
                $(nTd).html("<a href='patients/"+filterXSS(oData.linelist.name.id)+"'>"+filterXSS(oData.linelist.name.name)+"</a>");
              } else {
                $(nTd).text(filterXSS(oData.linelist.name.name));
              }
            }
          },
          <% if type == 'transferred_in_patients' %>
            { "data": "linelist.transferred_from", "orderable": false, render: $.fn.dataTable.render.text() },
          <% elsif type == 'transferred_out_patients' %>
            { "data": "linelist.transferred_to", "orderable": false, render: $.fn.dataTable.render.text() },
          <% else %>
            { "data": "linelist.jurisdiction", "name": "jurisdiction", render: $.fn.dataTable.render.text() },
          <% end %>
          <% if type != 'transferred_in_patients' && type != 'transferred_out_patients' %>{ "data": "linelist.assigned_user", "name": "assigned_user", render: $.fn.dataTable.render.text() },<% end %>
          { "data": "linelist.state_local_id", "name": "state_local_id", render: $.fn.dataTable.render.text() },
          { "data": "linelist.sex", "name": "sex", render: $.fn.dataTable.render.text() },
          { "data": "linelist.dob", "name": "dob", render: $.fn.dataTable.render.text() },
          <% if type == 'closed_patients' %>
            { "data": "linelist.expected_purge_date", "name": "expected_purge_date", render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" },
          <% else %>
            { "data": "linelist.end_of_monitoring", "name": "end_of_monitoring", render: $.fn.dataTable.render.text() },
          <% end %>
          <% unless type == 'closed_patients' %>{ "data": "linelist.risk_level", "name": "risk", render: $.fn.dataTable.render.text() },<% end %>
          <% if type == 'closed_patients' %>{ "data": "linelist.reason_for_closure", "name": "monitoring_reason", render: $.fn.dataTable.render.text() },<% elsif type == 'pui_patients' %>{ "data": "linelist.public_health_action", "name": "public_health_action", render: $.fn.dataTable.render.text() },<% else %>{ "data": "linelist.monitoring_plan", "name": "monitoring_plan", render: $.fn.dataTable.render.text() },<% end %>
          <% if type.include? 'transferred' %>
            { "data": "linelist.transferred", "orderable": false, render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" }
          <% elsif type == 'closed_patients' %>
            { "data": "linelist.closed_at", "name": "closed_at", render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" }
          <% else %>
            { "data": "linelist.latest_report", "name": "latest_report", render: $.fn.dataTable.render.text(), "sClass": "datetime-convert" }
          <% end %>
          <% if type == 'all_patients' %>,{ "data": "linelist.status", "orderable": false, render: $.fn.dataTable.render.text() }<% end %>
        <% end %>
      ],
      "dom": "<'row'<'col-sm-24 col-md-4 my-auto'l><'col-sm-24 col-md-8 my-auto'i><'col-sm-24 col-md-12 my-auto'f>>" + "<'row'<'col-sm-24 col-md-24'B>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'><'col-sm-24 col-md-14'p>>",
    });

    $(document).on('change', 'select#assigned_jurisdiction_<%= type %>', function(event) {
      assigned_jurisdiction = event.target.value;
      updateDataTable();
      updateAssignedUserOptions();
    });

    $(document).on('change', 'select#scope_<%= type %>', function(event) {
      scope = event.target.value;
      updateDataTable();
      updateAssignedUserOptions();
    });

    $(document).on('change', 'select#assigned_user_<%= type %>', function(event) {
      assigned_user = event.target.value;
      updateDataTable();
    });

    function updateDataTable() {
      const route = '/public_health/patients/<% if isolation %>isolation<% else %>exposure<% end %>/<%= type %>/' + assigned_jurisdiction + '/' + scope + '/' + assigned_user; // IE 11 does not support template strings
      table.ajax.url(route).load();
    }

    function updateAssignedUserOptions() {
      $.get('/jurisdictions/' + assigned_jurisdiction + '/assigned_users/' + scope, function(data) { // IE 11 does not support template strings
        const options = $('#assigned_user_<%= type %>');
        options.empty();
        options.append($('<option></option>').attr('value', 'all').text('All'));
        options.append($('<option></option>').attr('value', 'none').text('None'));
        $.each(data.assignedUsers, function (_, assignedUser) {
          options.append($('<option></option>').attr('value', assignedUser).text(assignedUser));
        });

        // reset assigned user search value to 'all' if the new list of options does not include the current assigned user search value
        if (assigned_user === 'all' || assigned_user === 'none' || Array.from(data.assignedUsers).includes(parseInt(assigned_user))) {
          $('#assigned_user_<%= type %>').val(assigned_user);
        } else {
          assigned_user = 'all';
          $('#assigned_user_<%= type %>').val('all');
          updateDataTable();
        }
      });
    }

    table.buttons().container()
        .appendTo( '#patients_table_<%= type %>_wrapper .row .col-md-24:eq(0)' );

    table.on('select deselect', function () {
        var selectedRows = table.rows( { selected: true } ).count();
        table.button( 0 ).enable( selectedRows > 0 );
    });

    table.on("click", "th.select-checkbox", function() {
      if ($("th.select-checkbox").hasClass("selected")) {
        table.rows().deselect();
        $("th.select-checkbox").removeClass("selected");
      } else {
        table.rows().select();
        $("th.select-checkbox").addClass("selected");
      }
    }).on("select deselect", function() {
      ("Some selection or deselection going on")
      if (table.rows({
        selected: true
      }).count() !== table.rows().count()) {
        $("th.select-checkbox").removeClass("selected");
      } else {
        $("th.select-checkbox").addClass("selected");
      }
    });
  });
</script>
