<%= render partial: "layouts/breadcrumb", locals: { jurisdiction_path: current_user.jurisdiction_path, crumbs: [ {value: "Dashboard", href: nil} ] } %>

<div class="btn-group">

  <% if current_user.can_view_analytics? %>
    <%= link_to '<i class="fas fa-chart-pie"></i> Analytics'.html_safe, {controller: "analytics", action: "index"}, class: "btn btn-primary btn-square ml-2 mb-4" %>
  <% end %>

  <% if current_user.can_create_patient? %>
    <%= link_to '<i class="fas fa-plus-square"></i> Enroll New Monitoree'.html_safe, {controller: "patients", action: "new"}, class: "btn btn-primary btn-square ml-2 mb-4" %>
  <% end %>

  <% if current_user.can_import? %>
    <div class="">
      <button type="button" class="btn btn-primary mb-4 ml-2 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" >
        <i class="fas fa-upload"></i> Import
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" data-toggle="modal" data-target="#epixModal">Epi-X</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#compModal">Comprehensive Monitorees</a>
      </div>
    </div>
    <div class="modal fade" id="epixModal" tabindex="-1" role="dialog" aria-labelledby="epixModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="epixModalLabel">Import Epi-X</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_tag({controller: :import, action: :epix}, multipart: true) do |f| %>
              <%= file_field_tag 'epix' %>
              <%= submit_tag "Upload", class: "btn btn-primary float-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="compModal" tabindex="-1" role="dialog" aria-labelledby="compModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="compModalLabel">Import Comprehensive Monitorees</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <%= link_to 'Download formatting guidance', 'sara_alert_comprehensive_monitoree.xlsx', download: 'public/sara_alert_comprehensive_monitoree.xlsx'%>
            <%= form_tag({controller: :import, action: :comprehensive_monitorees}, multipart: true) do |f| %>
              <%= file_field_tag 'comprehensive_monitorees' %>
              <%= submit_tag "Upload", class: "btn btn-primary float-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="mx-2 pb-4">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="symptomatic-tab" data-toggle="tab" href="#symptomatic" role="tab">
        Symptomatic <span class="badge badge-danger badge-larger-font"><%= @symptomatic_count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="non-reporting-tab" data-toggle="tab" href="#non-reporting" role="tab">
        Non-Reporting <span class="badge badge-warning badge-larger-font"><%= @non_reporting_count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="asymptomatic-tab" data-toggle="tab" href="#asymptomatic" role="tab">
        Asymptomatic <span class="badge badge-success badge-larger-font"><%= @asymptomatic_count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pui-tab" data-toggle="tab" href="#pui" role="tab">
        PUI <span class="badge badge-dark badge-larger-font"><%= @pui_count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab">
        Closed <span class="badge badge-secondary badge-larger-font"><%= @closed_count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="transferred-in-tab" data-toggle="tab" href="#transferred-in" role="tab">
        Transferred In <span class="badge badge-info badge-larger-font"><%= @transferred_in_count %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="transferred-out-tab" data-toggle="tab" href="#transferred-out" role="tab">
        Transferred Out <span class="badge badge-info badge-larger-font"><%= @transferred_out_count %></span>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="card card-square tab-pane show active pb-4" id="symptomatic" role="tabpanel" aria-labelledby="symptomatic-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees who have reported symptoms, which need to be reviewed.</p>
      <%= render partial: "patients", locals: { type: 'symptomatic_patients', p_links: true } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/symptomatic/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/symptomatic/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
    <div class="card card-square tab-pane pb-4" id="non-reporting" role="tabpanel" aria-labelledby="non-reporting-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees who have failed to report during the last day, who were not also considered symptomatic.</p>
      <%= render partial: "patients", locals: { type: 'non_reporting_patients', p_links: true } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/nonreporting/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/nonreporting/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
    <div class="card card-square tab-pane pb-4" id="asymptomatic" role="tabpanel" aria-labelledby="asymptomatic-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees currently reporting no symptoms, who have reported during the last day.</p>
      <%= render partial: "patients", locals: { type: 'asymptomatic_patients', p_links: true } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/asymptomatic/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/asymptomatic/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
    <div class="card card-square tab-pane show pb-4" id="pui" role="tabpanel" aria-labelledby="pui-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees who are currently being followed up on by public health.</p>
      <%= render partial: "patients", locals: { type: 'pui_patients', p_links: true } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/pui/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/pui/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
    <div class="card card-square tab-pane pb-4" id="closed" role="tabpanel" aria-labelledby="closed-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees not currently being monitored.</p>
      <%= render partial: "patients", locals: { type: 'closed_patients', p_links: true } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/closed/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/closed/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
    <div class="card card-square tab-pane pb-4" id="transferred-in" role="tabpanel" aria-labelledby="transferred-in-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees that have been transferred into this jurisdiction during the last 24 hours.</p>
      <%= render partial: "patients", locals: { type: 'transferred_in_patients', p_links: true } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/transferred_in/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/transferred_in/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
    <div class="card card-square tab-pane pb-4" id="transferred-out" role="tabpanel" aria-labelledby="transferred-out-tab">
      <p class="lead px-4 pt-4 pb-3">Monitorees that have been transferred out of this jurisdiction.</p>
      <%= render partial: "patients", locals: { type: 'transferred_out_patients', p_links: false } %>
      <% if current_user.can_export? %>
        <a type="button" class="btn btn-primary ml-4" href="/export/transferred_out/csv"><i class="fas fa-file-csv"></i> Export Line-list CSV</a>
        <a type="button" class="btn btn-primary ml-4" href="/export/transferred_out/csv_comprehensive"><i class="fas fa-file-csv"></i> Export Comprehensive CSV</a>
      <% end %>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    if (localStorage.getItem('dashboardCurrentTab') !== null) {
      $(localStorage.getItem('dashboardCurrentTab') + '-tab').find('span').trigger('click')
    }
    $('a[data-toggle="tab"]').on('click', function(e) {
      if ($(e.target).attr('href') === undefined) {
        localStorage.setItem('dashboardCurrentTab', $(e.target).parent().attr('href'))
      } else {
        localStorage.setItem('dashboardCurrentTab', $(e.target).attr('href'))
      }
    })
  });
</script>