<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sara Alert</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script>
    window.BASE_PATH = "<%= ADMIN_OPTIONS['base_path'] %>";
    window.SENTRY_URL = "<%= ADMIN_OPTIONS['sentry_url'] %>";
    window.SARA_VERSION = "<%= ADMIN_OPTIONS['version'] %>";
  </script>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :assets %>
</head>
